* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Clash Display', 'General Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.header-container, .main-container, .countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

h1, .subtitle, .date, .countdown {
    margin: 1rem 0;
}

.subtitle {
    color: #808080;
}

.countdown-container {
    margin-bottom: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.subtitle, .date, .countdown {
    font-size: 1.25rem;
}
