body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;
    font-family: 'Clash Display', sans-serif;
    text-align: center;
}

.header-container, .main-container, .countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .subtitle, .date, .countdown, .notify-btn {
    margin: 1rem 0; /* Стандартные отступы между элементами */
}

/* Увеличенный отступ между контейнером обратного отсчета и кнопкой */
.countdown-container + .notify-btn {
    margin-top: 2.5rem;
}

h1 {
    font-size: 4rem;
}

.subtitle, .countdown, .date {
    font-size: 1.25rem;
}

.subtitle {
    color: #808080;
}

.notify-btn {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.25rem;
    color: #808080;
    display: block;
    margin: 2vh auto;
    padding: 2vh 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.notify-btn:hover {
    text-decoration-line: underline;
}
