<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://api.fontshare.com/v2/css?f%5B%5D=clash-display@1&f%5B%5D=general-sans@1&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>kaif.</title>
</head>
<body>
<main class="main-container">
    <div class="container">
        <h1>kaif.</h1>
        <p class="subtitle">coming soon in GKR</p>
        <p class="date">15.04.2024</p>
        <div id="countdown" class="countdown">lädt</div>
    </div>
</main>
<script src="../static/js/script.js"></script>
</body>
</html>
