<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://api.fontshare.com/v2/css?f%5B%5D=clash-display@1&f%5B%5D=general-sans@1&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>kaif.</title>
</head>
<body>
<header class="header-container">
    <h1>kaif.</h1>
    <!--bald im GKR-->
    <p class="subtitle">coming soon in GKR</p>
</header>
<main class="main-container">
    <div class="countdown-container">
        <div id="countdown" class="countdown">lädt</div>
        <p class="date">04.04.24</p>
    </div>
</main>
<script src="../static/js/script.js"></script>
</body>
</html>
